Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema id="Hotels"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://agsanchez10.github.io/Table.For.One/"
	xmlns:bs="https://agsanchez10.github.io/Table.For.One/"
    elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<element name="Hotels">
		<complexType>
			<sequence>
				<element ref="hs:Hotel" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="Hotel">
		<complexType>
			<sequence>
				<element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
				<element name="Address" minOccurs="1" maxOccurs="1"/>
				<element name="_Rating" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			</sequence>
			<attribute name="Rating" type="xsd:string" use="optional"/>
		</complexType>
	</element>
	<element name="Address">
		<complexType>
			<sequence>
				<element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<element name="_NearestAirport" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			</sequence>
			<attribute name="NearestAirport" type="xsd:string" use="required"/> 
		</complexType>		
	</element>
</schema>
